.card {
    width: 50%;
    border-radius: 25px;
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-item {
    height: 30px;
    border-bottom: 2px solid #FFC60B;
    border-right: 2px solid #FFC60B;
}