.height {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
}

.color {
    background-image: linear-gradient(to right, #57A0D3, #FFFFFF);
    opacity: 0.6;
}

.logo {
    z-index: 1;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    background-image: url('../../../assets/logo.jpg');
    background-size: 100% 100%;
    margin: 30px 50px;
}

.name {
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    font-family: "Pacifico";
    width: 250px;
    height: 75px;
    text-align: center;
    border: solid blue 2px;
    border-radius: 50%;
    opacity: .8;
    margin-top: 28px;
    margin-left: -65px;
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}