.height {
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 25vh;
}

.avatar {
    height: 23vh;
    width: 23vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 23vh 23vh;
}

.color {
    background-image: linear-gradient(to right, #57A0D3, #FFFFFF);
    opacity: 0.6;
}

.logo {
    z-index: 1;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    background-image: url('../../../assets/logo.jpg');
    background-size: 100% 100%;
    margin-left: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.center-logo {
    justify-content: center;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.name {
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    font-family: "Pacifico";
    width: 250px;
    height: 75px;
    text-align: center;
    // border: solid blue 2px;
    border-radius: 50%;
    opacity: .8;
    margin-top: 15px;
    margin-left: 0px;
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-style {
    font-size: 30px;
    background: -webkit-linear-gradient(#57A0D3, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pointer {
    cursor: pointer;
}

.color {
    color: #FF2400
}