.card-home {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 40vw;
    background-color: #FFFFFF;
    border: solid blue 3px;
    border-radius: 20px;
    margin-left: 35%;
    opacity: 0.5;
    margin-top: 10%;
}