.card {
    width: 80%;
    height: calc(100vh - 315px);
    border-radius: 25px;
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 30px;
}

.sub-title {
    font-size: 20px;
}

.save {
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(#57A0D3, #FFFFFF);
}

.tab-h {
    height: calc(100vh - 430px);
}