<div class="full-w row center-w">
    <mat-card class="card col opacity-low">
        <mat-card-header>
            <mat-card-title class="text-style title">Usuário Logado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group class="tab-h">
                <mat-tab label="Perfil">
                    <form [formGroup]="formGroup" class="mt-sm" novalidate>
                        <div class="full-w row">
                            <div class="full-w col mx-md">
                                <mat-form-field>
                                    <input matInput placeholder="Nome" formControlName='nome' readonly>
                                </mat-form-field>
                                <mat-form-field class="mt-sm">
                                    <input matInput placeholder="E-mail" formControlName='email'
                                        [errorStateMatcher]="matcher">
                                    <mat-error
                                        *ngIf="formGroup.get('email').hasError('email') && !formGroup.get('email').hasError('required')">
                                        Insira um e-mail válido
                                    </mat-error>
                                    <mat-error *ngIf="formGroup.get('email').hasError('required')">
                                        Campo não pode ser vazio
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="mt-sm">
                                    <input matInput placeholder="Cidade" formControlName='cidade'>
                                </mat-form-field>
                            </div>
                            <div class="full-w col mx-md">
                                <mat-form-field>
                                    <input matInput placeholder="Telefone" formControlName='telefone'>
                                </mat-form-field>
                                <mat-form-field class="mt-sm">
                                    <input matInput placeholder="Bairro" formControlName='bairro'>
                                </mat-form-field>
                                <div class="row full-w mt-sm">
                                    <mat-form-field class="full-w">
                                        <input matInput placeholder="Endereço" formControlName='endereco'>
                                    </mat-form-field>
                                    <mat-form-field class="mx-md" style="width: 30%">
                                        <input matInput placeholder="Número" formControlName='numero'>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Convidados Adultos">
                    <form [formGroup]="formGroupConvidadosAdultos" class="mt-sm" novalidate>
                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (1)" formControlName='nomeAdulto1'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (1)" formControlName='docAdulto1'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (2)" formControlName='nomeAdulto2'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (2)" formControlName='docAdulto2'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (3)" formControlName='nomeAdulto3'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (3)" formControlName='docAdulto3'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (4)" formControlName='nomeAdulto4'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (4)" formControlName='docAdulto4'>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Convidados Crianças">
                    <form [formGroup]="formGroupConvidadosCriancas" class="mt-sm" novalidate>
                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (1)" formControlName='nomeCrianca1'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (1)" formControlName='docCrianca1'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (2)" formControlName='nomeCrianca2'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (2)" formControlName='docCrianca2'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (3)" formControlName='nomeCrianca3'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (3)" formControlName='docCrianca3'>
                            </mat-form-field>
                        </div>

                        <div class="full-w row mt-sm">
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Nome (4)" formControlName='nomeCrianca4'>
                            </mat-form-field>
                            <mat-form-field class="full-w mx-md">
                                <input matInput placeholder="Documento (4)" formControlName='docCrianca4'>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
            <div class="full-w row my-md">
                <div class="full-w row start mx-md">
                    <button mat-button class="save" (click)="homePage()">Home</button>
                </div>
                <div class="full-w row end mx-md">
                    <button mat-button class="save" (click)="save()">Salvar</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>