.card {
    width: 80%;
    border-radius: 25px;
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 30px;
}

.sub-title {
    font-size: 20px;
}