.card {
    width: 60%;
    height: calc(100vh - 360px);
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-ads {
    width: 200px;
    height: 450px;
    border-radius: 25px;
}

.next {
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(#57A0D3, #FFFFFF);
}

.previous {
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(#FF0800, #FFFFFF);
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 30px;
}

.sub-title {
    font-size: 20px;
}

.half {
   width: 50%;
}