.card {
    width: 60%;
    height: calc(100vh - 340px);
    border-radius: 25px;
}

.card-ads {
    width: 600px;
    height: 80px;
    border-radius: 25px;
    margin-top: 15px;
}

.next {
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(#57A0D3, #FFFFFF);
}

.previous {
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(#FF0800, #FFFFFF);
}

.text-style {
    background: -webkit-linear-gradient(#57A0D3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 30px;
}

.sub-title {
    font-size: 20px;
}

.half {
   width: 50%;
}

.mat-horizontal-content-container {
    padding: 0 24px 0px 24px !important;
}