<div class="full-w row center-w">
    <mat-card class="card col opacity-low">
        <mat-card-header>
            <mat-card-title class="text-style title">Filtros de Busca</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="full-w row">
                <mat-horizontal-stepper [linear]='true' #stepper class="full-w">
                    <mat-step [stepControl]="formGroup1">
                        <form [formGroup]="formGroup1" class="h-100">
                            <ng-template matStepLabel>Locais de preferencia</ng-template>
                            <div class="full-w row">
                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta1" [required]='form1Required'>Brasil
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta2" [required]='form1Required'>Inglaterra
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta3" [required]='form1Required'>Irlanda
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta4" [required]='form1Required'>França
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta5" [required]='form1Required'>Nova York
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta6" [required]='form1Required'>Orlando
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta7" [required]='form1Required'>Peru
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta8" [required]='form1Required'>Chile
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta9" [required]='form1Required'>África do
                                        Sul
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta10" [required]='form1Required'>China
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta11" [required]='form1Required'>Taiwan
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta12" [required]='form1Required'>Japão
                                    </mat-checkbox>
                                </div>
                            </div>
                        </form>
                        <div class="full-w row my-md">
                            <div class="full-w row start">
                                <button mat-button (click)="homePage()" class="previous">Home</button>
                            </div>
                            <div class="full-w row end">
                                <button mat-button matStepperNext class="next">Próximo</button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="formGroup2">
                        <form [formGroup]="formGroup2" class="h-100">
                            <ng-template matStepLabel>Tipo de Viagem</ng-template>
                            <div class="full-w row">
                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta13" [required]='form2Required'>Aereo
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta14" [required]='form2Required'>Terrestre
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta15" [required]='form2Required'>Praia
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta16" [required]='form2Required'>Campo
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta17" [required]='form2Required'>Trilhas
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta18" [required]='form2Required'>Montanhas
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta19" [required]='form2Required'>Cidades
                                        Turísticas</mat-checkbox>
                                    <mat-checkbox formControlName="pergunta20" [required]='form2Required'>
                                        Gastronômica
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta21" [required]='form2Required'>Férias
                                    </mat-checkbox>
                                </div>

                                <div class="full-w col">
                                    <mat-checkbox formControlName="pergunta22" [required]='form2Required'>Trabalho
                                    </mat-checkbox>
                                    <mat-checkbox formControlName="pergunta23" [required]='form2Required'>Cidades
                                        Históricas</mat-checkbox>
                                    <mat-checkbox formControlName="pergunta24" [required]='form2Required'>Cultural
                                    </mat-checkbox>
                                </div>
                            </div>
                        </form>
                        <div class="full-w row my-md">
                            <div class="full-w row start">
                                <button mat-button matStepperPrevious class="previous">Anterior</button>
                            </div>
                            <div class="full-w row end">
                                <button mat-button matStepperNext class="next">Próximo</button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="formGroup3">
                        <form [formGroup]="formGroup3" class="h-120">
                            <ng-template matStepLabel>Informações Gerais</ng-template>
                            <ng-template matStepLabel>Tipo de Viagem</ng-template>
                            <div class="full-w row">
                                <div class="full-w col mx-md">
                                    <mat-form-field class="full-w">
                                        <input matInput [min]='dataAtual' [max]="formGroup3.get('dataFim').value"
                                            [matDatepicker]="picker" placeholder="Data Saída"
                                            formControlName="dataInicio" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error
                                            *ngIf="formGroup3.get('dataInicio').touched && formGroup3.get('dataInicio').errors?.required">
                                            Campo não pode estar vazio
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-w mt-sm">
                                        <input matInput placeholder="Valor Mínimo" formControlName='valorMin'
                                            type="number">
                                    </mat-form-field>
                                </div>

                                <div class="full-w col mx-md">
                                    <mat-form-field class="full-w">
                                        <input matInput [min]="formGroup3.get('dataInicio').value"
                                            [matDatepicker]="picker2" placeholder="Data Retorno"
                                            formControlName="dataFim" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error
                                            *ngIf="formGroup3.get('dataFim').touched && formGroup3.get('dataFim').errors?.required">
                                            Campo não pode estar vazio
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-w mt-sm">
                                        <input matInput placeholder="Valor Máximo" formControlName='valorMax'
                                            type="number">
                                    </mat-form-field>
                                </div>

                                <div class="full-w col mx-md">
                                    <mat-form-field class="full-w">
                                        <mat-select placeholder="Adultos" formControlName='qtdAdulto'>
                                            <mat-option value="1">1</mat-option>
                                            <mat-option value="2">2</mat-option>
                                            <mat-option value="3">3</mat-option>
                                            <mat-option value="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-w mt-sm">
                                        <mat-select placeholder="Crianças" formControlName='qtdCrianca'>
                                            <mat-option value="1">1</mat-option>
                                            <mat-option value="2">2</mat-option>
                                            <mat-option value="3">3</mat-option>
                                            <mat-option value="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="full-w row mt-sm">
                            <div class="full-w row start mx-md">
                                <button mat-button matStepperPrevious class="previous">Anterior</button>
                            </div>
                            <div class="full-w row center-w mx-md">
                                <button mat-button (click)="stepper.reset()" class="previous">Limpar
                                    Formulário</button>
                            </div>
                            <div class="full-w row end mx-md" *ngIf="!isLogged">
                                <button mat-button matStepperNext class="next">Próximo</button>
                            </div>
                            <div class="full-w row end mx-md" *ngIf="isLogged">
                                <button mat-button matStepperNext class="next" (click)="showList()">Realizar
                                    Busca</button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step *ngIf="!isLogged">
                        <ng-template matStepLabel>Finalizar</ng-template>

                        <div class="full-w center-w center-h row my-lg">
                            <span class="sub-title text-style">Cadastre-se já para garantir sua passagem <br> e não
                                deixar de último momento</span>
                        </div>
                        <div class="full-w row my-md">
                            <div class="full-w row start mx-md">
                                <button mat-button (click)="stepper.reset()" class="previous">Limpar
                                    Formulário</button>
                            </div>
                            <div class="full-w row center-w mx-md">
                                <button mat-button class="next" (click)="newUser()">Cadastro</button>
                            </div>
                            <div class="full-w row end mx-md">
                                <button mat-button class="next" (click)="showList()">Realizar
                                    Busca</button>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </mat-card-content>
    </mat-card>
</div>