/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.div-backgroung {
    height: 100%;
    width: 100%;
    background-image: url("./assets/background.jpg");
    background-size: 100% 100%;
}