@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-body {
    height: 100%;
    background-image: url('./assets/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.mat-dialog-container {
    opacity: 0.9 !important;
    border-radius: 50px !important;
}

.center-h {
    align-items: center;
}

.center-w {
    justify-content: center;
}

.opacity-low {
    opacity: 0.9;
}

.end {
    justify-content: flex-end;
}

.start {
    justify-content: flex-start;
}

.mx-md {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-sm {
    margin-left: 10px;
    margin-right: 10px;
}

.my-md {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-lg {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mt-md {
    margin-top: 15px;
}

.mt-sm {
    margin-top: 10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #000000;
}